:root a {
    text-decoration: none;
    color: Black;
    font-family: sans-serif;
}

.outer-pokedex {
    display: flex;
    flex-direction: column;
}


#pokedex-heading {
    margin: 0 auto;
    letter-spacing: 5px;
}


